{% extends 'base.html' %}
{% block title %}Search Results for '{{ request.GET.q }}'{% endblock %}
{%  block content %}
    <div class="row">
    <div class="col-12 mb-3">
        Searched for "<b>{{ request.GET.q }}</b>≤"
        <hr>
    </div>
        {% if object_list %}
            {%  for obj in object_list %}
        <div class="col">
                {% include 'products/snippets/card.html' with instance=obj %}
        </div>
            {% endfor %}

        {% endif %}

    </div>
    </div>
{% endblock %}